{% extends 'base.html' %}

{% block title %}Подтверждение запроса на предоставление доступа{% endblock %}

{% block header_title %}Подтверждение запроса{% endblock %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <form method="post" role="form">
            {% csrf_token %}
            <p class="lead">Вы действительно хотите предоставить клиенту "{{ object.client.name }}" доступ к ресурсу
            "{{ object.resource.path }}"?</p>
            {{ form.as_p }}
            <input type="submit" value="Подтвердить" class="btn btn-primary">
        </form>
    </div>

{% endblock %}